
<div class="page-closer page-width">
  {%- for block in section.blocks -%}
    <div class="block">
      {%- if block.settings.image != blank -%}
        <img
          srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
            {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
            {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
            {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
            {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
          src="{{ block.settings.image | img_url: '550x' }}"
          sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
            (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
            calc(100vw - 30px)"
          alt="{{ block.settings.image.alt }}"
          height="{{ block.settings.image.height }}"
          width="{{ block.settings.image.width }}"
          loading="lazy"
        >
      {%- endif -%}
      {%- if block.settings.text != blank -%}
        <div class="rte">{{ block.settings.text }}</div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.page_closer.name",
  "class": "section",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "closer_column",
      "name": "t:sections.page_closer.blocks.closer_columm.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.page_closer.blocks.closer_columm.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your history.</p>",
          "label": "t:sections.page_closer.blocks.closer_columm.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.page_closer.presets.name",
      "blocks": [
        {
          "type": "closer_column"
        },
        {
          "type": "closer_column"
        },
        {
          "type": "closer_column"
        }
      ]
    }
  ]
}
{% endschema %}
